{% extends 'view_dashboards/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <div class="main-content-container overflow-hidden">
        <div class="card bg-white border border-white rounded-10 p-20 text-center mb-4">
            <div style="margin-bottom: 35px;">
                <img src="{% static 'images/error-400.png' %}" alt="400 Bad Request">
            </div>
            <h3 class="fs-26 mb-10">OOPS! 400 Bad Request!</h3>
            <p class="mb-30 fs-16 lh-1-8">The request could not be understood. Please check your input and try again.</p>
            <div>
                <a href="{% url 'view_dashboards:dashboard' %}" class="btn btn-primary text-white">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_js %}
{% endblock page_js %}
