{% load static %}

<header class="header-area bg-white mb-4 rounded-10 border border-white" id="header-area">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="left-header-content">
                <ul class="d-flex align-items-center ps-1 mb-0 list-unstyled justify-content-start">
                    <li class="d-xl-none">
                        <button class="header-burger-menu bg-transparent p-0 border-0 position-relative top-3" id="header-burger-menu">
                            <span class="border-1 d-block for-dark-burger" style="border-bottom: 1px solid #475569; height: 1px; width: 25px;"></span>
                            <span class="border-1 d-block for-dark-burger" style="border-bottom: 1px solid #475569; height: 1px; width: 25px; margin: 6px 0;"></span>
                            <span class="border-1 d-block for-dark-burger" style="border-bottom: 1px solid #475569; height: 1px; width: 25px;"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <div class="right-header-content mt-md-0">
                <ul class="d-flex align-items-center justify-content-end ps-0 pe-1 mb-0 list-unstyled">
                    <li class="header-right-item">
                        <div class="dropdown admin-profile">
                            <div class="d-xxl-flex align-items-center bg-transparent border-0 text-start p-0 cursor dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <div class="flex-shrink-0 position-relative">
                                    <div class="rounded-circle admin-img-width-for-mobile d-flex align-items-center justify-content-center"
                                        style="width: 40px; height: 40px; background-color: #0d6efd; color: white; font-weight: bold; text-transform: uppercase;">
                                        {{ request.user.username|first }}
                                    </div>
                                    <span class="d-block bg-success-60 border border-2 border-white rounded-circle position-absolute end-0 bottom-0" style="width: 11px; height: 11px;"></span>
                                </div>
                            </div>

                            <div class="dropdown-menu border-0 bg-white dropdown-menu-end">
                                <div class="d-flex align-items-center info">
                                    <div class="flex-shrink-0">
                                        <div class="rounded-circle admin-img-width-for-mobile d-flex align-items-center justify-content-center"
                                            style="width: 40px; height: 40px; background-color: #0d6efd; color: white; font-weight: bold; text-transform: uppercase;">
                                            {{ request.user.username|first }}
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-10">
                                        <h3 class="fw-medium fs-17 mb-0">{{ request.user.username }}</h3>
                                        <span class="fs-15 fw-medium">{{ request.user.groups.all.first.name|title }}</span>
                                    </div>
                                </div>
                                <ul class="admin-link mb-0 list-unstyled">
                                    <li>
                                        <a class="dropdown-item admin-item-link d-flex align-items-center text-body" href="{% url 'view_dashboards:logout' %}">
                                            <i class="material-symbols-outlined">logout</i>
                                            <span class="ms-2">Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>