{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="{% static 'css/sidebar-menu.css' %}">
		<link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
		<link rel="stylesheet" href="{% static 'css/prism.css' %}">
        <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
        <link rel="stylesheet" href="{% static 'css/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jsvectormap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Litepicker CSS -->
        <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

        <!-- Tempus Dominus Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">

        <!-- Select2 CSS -->
        <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/select2/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />

        <!-- Datatable CSS -->
        <link rel="stylesheet" href="{% static 'plugins/datatables/css/dataTables.bootstrap5.min.css' %}" />

        <!-- Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css' %}?v=1.0.1">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{% static 'images/logo/fav-icon.jpg' %}">
        
		<!-- Title -->
		<title>{{ page_title }}</title>

        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body class="bg-body-bg">
        <!-- Begin page -->
        <div id="app-layout">
            <div class="">
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
     
        <!-- Link Of JS File -->
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        {% comment %} <script src="{% static 'js/jquery-4.0.0.min.js' %}"></script> {% endcomment %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/sidebar-menu.js' %}"></script>
        <script src="{% static 'js/quill.min.js' %}"></script>
        <script src="{% static 'js/data-table.js' %}"></script>
        <script src="{% static 'js/prism.js' %}"></script>
        <script src="{% static 'js/clipboard.min.js' %}"></script>
        <script src="{% static 'js/simplebar.min.js' %}"></script>
        <script src="{% static 'js/apexcharts.min.js' %}"></script>
        <script src="{% static 'js/echarts.min.js' %}"></script>
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar.main.js' %}"></script>
        <script src="{% static 'js/jsvectormap.min.js' %}"></script>
        <script src="{% static 'js/world-merc.js' %}"></script>

        <!-- Litepicker JS -->
        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/litepicker.js' %}"></script>

        <!-- Popperjs -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <!-- Tempus Dominus JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

        <!-- Select2 JS -->
        <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
        
        <!-- Datatable JS -->
        <script src="{% static 'plugins/datatables/js/dataTables.min.js' %}"></script>
		<script src="{% static 'plugins/datatables/js/dataTables.bootstrap5.min.js' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'js/custom/apexcharts.js' %}"></script>
        <script src="{% static 'js/custom/echarts.js' %}"></script>
        <script src="{% static 'js/custom/maps.js' %}"></script>
        <script src="{% static 'js/custom/custom.js' %}?v=1.0.1"></script>

        {% comment %} <script>
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',      // display & parsing format
                autoclose: true,           // close calendar after selecting
                todayHighlight: true,
                orientation: "bottom auto"
            });
        </script> {% endcomment %}
        <script>
            $(document).ready(function() {   
                $('.select2').each(function () {
                    const $this = $(this);
                    initSelect2($this);
                });
            });

            
            $(function () {
                $('.timepicker').each(function () {
                    new tempusDominus.TempusDominus(this, {
                        display: {
                            viewMode: 'clock',
                            components: {
                                decades: false,
                                year: false,
                                month: false,
                                date: false,
                                hours: true,
                                minutes: true,
                                seconds: false
                            }
                        },
                        localization: {
                            format: 'hh:mm T'
                        }
                    });
                });
            });


            setTimeout(() => {
                document.querySelectorAll('.alert-dismissible').forEach(el => el.remove());
            }, 5000);
        </script>
        
        {% block page_js %}
        {% endblock page_js %}
    </body>
</html>